@model IList<Basic.Models.ModelData>;


@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

Length: @Model.Count

@foreach (var data in Model)
{
<p>Text: @data.Text, Active: @data.Active @Html.ActionLink("Edit", "Edit", "Home", new { @data.Id })</p>
}

<h2>Add ModelData</h2>
@*@{ Html.RenderPartial("EditModelData", new Basic.Models.ModelData()); }*@
@Html.Partial("EditModelData", new Basic.Models.ModelData())